.nav_bar ul{
    display: flex;
    margin-left: 300px;
    font-size: 18px;
    /* margin-top: 90px; */
}
.nav_bar-item{
    margin-right: 40px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 18px;
}

#home{
    font-weight: 700;
}

.logo{
    display: flex;
    margin-left: 12px;
    font-size: 24px;
    font-weight: 700;
    /* margin-top: 82px; */
}

.circle-logo{
    margin-left: 194px;
}

header{
    display: flex;
    margin-bottom: 67px;;
}