.footer_container{
    background-image: url(/images/elements.svg), url(/images/bg.png), url(/images/elements.svg);
    background-position: left -20px bottom -20px, bottom, right 40px top 20px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    margin-top: 100px;
    max-width: 1600px;
    margin:auto
}

.footer{
    display: flex;
    padding-top: 150px;
}

.footer_nav ul{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

.footer_bar_item{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}

.footer_logo{
    /* margin-left: 227px; */
    padding-bottom: 10px;
    padding-left: 227px;
    margin-right: 10px;
    
}

#company{
    margin-right: 177px;
    margin-left:375px ;
}

#region{
    margin-right: 166px;
}

@media screen and (max-width: 768px) {
    .footer_container{
        max-width: 768px;
        background-size:cover;
        padding: auto;
    }

    .footer{
        flex-direction: column;
        padding-top: 30px;
    }

    .footer_logo{
        padding-left: 0px;
    }

    .footer_nav ul{
        flex-direction: column;
        justify-self: start;
        padding-left: 0px;
        margin: 0 auto;
    }
    
    .footer_bar_item{
        margin: 15px auto;
    }
    
    #company, #region{
        margin: 15px auto;
    }


    

}